<div class="story-groups">
  <%= for group <- @groups do %>
    <a href="<%= Routes.story_group_path(@conn, :show, group.id) %>">
      <%= if group.image_link do %>
        <img src="<%= cover_image(group) %>"/>
      <% else %>
        <div class="temp-name"><%= group.name %></div>
      <% end %>
    </a>
  <% end %>
</div>